.not-found-container {
  height: 100vh;
}

.background-green {
  height: 50vh;
  background-color: var(--dark-green);
}

.content {
  width: 80%;
  max-width: 1400px;
  height: 80%;
  margin: 0 auto;
  margin-top: -20rem;
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  position: relative;
  transform: translate3d(-50%, 50%);
}

.content h1 {
  color: var(--light);
  font-size: 4.5rem;
  font-weight: 600;
}

.content p {
  color: var(--light);
  margin-top: 2rem;
  line-height: 2rem;
}

.content img {
  height: 80%;
  max-height: 400px;
}

button {
  height: 5rem;
  width: 19.375rem;
  margin-top: 5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--light-green);
  color: var(--light);
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: var(--light-green-hover);
  transition: 0.3s ease-in-out;
}